/* common style - class utility */

.bg-green{
  background: #1ABC9C;
}

.star::before,
.star::after{
  display: inline-block;
  content: "";
  border-top: 4px solid;
  width: 80px;
  transform: translateY(-9px);
  border-radius: 5px;
}


.button {
   background: #1ABC9C;
   color: #fff;
   font-size: 20px;
}

/* common style - class utility */

/* header portfolio */
.bl-navbar {
  background: #2C3E50;
  margin: 0;
  border-radius: 0;
  border: 0px;
  color: #fff;
  padding: 20px 0;
}

.navbar-brand {
  font-size: 20px;
  text-transform: uppercase;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.bl-navbar .navbar-nav>li>a {
  font-size: 15px;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

.content-header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
}

.content-header h1 {
  font-weight: 700;
}

.content-header p {
  font-weight: 600;
  font-size: 15px;
}

.avatar {
  height: 290px;
}

.star i {
  font-size: 29px;
  padding: 10px 15px 18px;
}

/* fine header style */

/* portfolio style */

.portfolio {
  padding: 30px 0;
}

.portfolio-title {
  text-align: center;
  color: #2C3E50;
  text-transform: uppercase;
}

.portfolio-title h2 {
  font-weight: 700;
  font-size: 28px;
}

.img-portfolio {
  margin: 15px 0;
}

/* fine portfolio style */

/* about style */

.about-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.about-title h2 {
  padding: 25px 0 0 0;
  font-weight: 700;
  font-size: 28px;
}

.about p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.about .btn{
  border: 1.5px solid;
  margin: 25px 0;
}

.about .btn i {
  padding: 0 5px 0 0;
}

/* fine about style */

/* contact style */
.contact-title {
  text-align: center;
  color: #2C3E50;
  text-transform: uppercase;
}
.contact-title h2 {
  font-weight: 700;
  font-size: 28px;
}

form {
  width: 300px;
  margin: 10px auto;
}

form .form-control {
  border-bottom: 1px solid #888;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  box-shadow: 0 0 0 #fff;
  border-radius: 0px;
}

form .form-group label {
  color: #2C3E50;
  font-size: 20px;
}

/* fine contact style */

/* footer style */

.info-footer {
  background: #3A546D;
  color: #fff;
  padding: 30px 0;
}

.info-footer .social {
  padding: 0;
}

.info-footer .social li {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border: 1.4px solid #fff;
  border-radius: 50%;
  font-size: 18px;
  list-style: none;
}

.info-footer .social li {
  color: #fff;
  line-height: 50px;
  border: 1.4px solid #fff;
}

.info-box {
  padding: 15px 0;
}

.info-box h5 {
  text-transform: uppercase;
  font-size: 20px;
}

.info-box p {
  font-size: 20px;
  font-weight: 500;
}

.info-box:last-child a{
  color: #1ABC9C;
}
