/* common style - class utility */

.bg-green{
  background: #1ABC9C;
}

.bg-darkblue{
  background: #2C3E50;
}

.star::before,
.star::after{
  display: inline-block;
  content: "";
  border-top: 4px solid;
  width: 80px;
  transform: translateY(-9px);
  border-radius: 5px;
}


.bl-button {
   background: #1ABC9C;
   color: #fff;
   font-size: 20px;
}

/* common style - class utility */

/* header style */
.bl-navbar {
  margin: 0;
  border-radius: 0;
  border: 0px;
  color: #fff;
  padding: 20px 0;
}

.navbar-brand {
  font-size: 20px;
  text-transform: uppercase;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.bl-navbar .navbar-nav>li>a {
  font-size: 15px;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

.content-header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
}

.content-header h1 {
  font-weight: 700;
}

.content-header p {
  font-weight: 600;
  font-size: 15px;
}

.avatar {
  height: 290px;
}

.star i {
  font-size: 29px;
  padding: 10px 15px 18px;
}

/* fine header style */

/* portfolio style */

.portfolio {
  padding: 30px 0;
}

.portfolio-title {
  text-align: center;
  color: #2C3E50;
  text-transform: uppercase;
}

.portfolio-title h2 {
  font-weight: 700;
  font-size: 28px;
}

.img-portfolio {
  margin: 15px 0;
}

/* fine portfolio style */

/* about style */

.about {
  padding: 25px 0;
}

.about-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.about-title h2 {
  font-weight: 700;
  font-size: 28px;
}

.about p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.about .btn{
  border: 1.5px solid;
  margin: 25px 0;
}

.about .btn i {
  padding: 0 5px 0 0;
}

/* fine about style */

/* contact style */
.contact {
  padding: 30px 0;
}
.contact-title {
  text-align: center;
  color: #2C3E50;
  text-transform: uppercase;
}
.contact-title h2 {
  font-weight: 700;
  font-size: 28px;
}

.bl-form ::placeholder, .bl-form input, .bl-form textarea{
  color: #2c3e50;
  font-size: 19px;
  font-weight: 600;
}

.bl-form input, .bl-form textarea{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  padding-left: 0;
}


/* fine contact style */

/* footer style */

.info-footer {
  background: #3A546D;
  color: #fff;
  padding: 30px 0;
}

.info-footer .social {
  padding: 0;
}

.info-footer .social li {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border: 1.4px solid #fff;
  border-radius: 50%;
  font-size: 18px;
  list-style: none;
}

.info-footer .social li {
  color: #fff;
  line-height: 50px;
  border: 1.4px solid #fff;
}

.info-box {
  padding: 15px 0;
}

.info-box h5 {
  text-transform: uppercase;
  font-size: 20px;
}

.info-box p {
  font-size: 20px;
  font-weight: 500;
}

.info-box:last-child a{
  color: #1ABC9C;
}

.bottom-footer {
  padding: 40px 0;
}

.copy-footer {
  text-align: center;
  color: #fff;
  font-weight: 500;
}

/* fine footer style */


/* stili scren SM */

@media screen and (min-width:768px) {
  /* common style - class utility */
  .star::before,
  .star::after{
    display: inline-block;
    content: "";
    border-top: 4px solid;
    width: 150px;
    transform: translateY(-9px);
    border-radius: 5px;
  }

  /* common style - class utility */

  /* header style */

  .navbar-brand {
    font-size: 30px;
  }

  .bl-navbar .navbar-nav>li>a {
    font-size: 18px;
  }

  .content-header h1 {
    font-size: 60px;
  }

  .content-header p {
    font-weight: 600;
    font-size: 25px;
  }

  /* fine header style */

  /* portfolio style */

  .portfolio-title h2 {
    font-size: 45px;
  }

  /* fine portfolio style */

  /* style about */

  .about {
    padding: 35px 0;
  }

  .about-title h2 {
    font-size: 45px;
  }

  /* fine style about */

  /* contact style */

  .contact-title h2 {
    font-size: 45px;
  }

  .contact {
    padding: 45px 0;
  }

  /* fine contact style */

  /* footer style */
  .info-box h5 {
    font-size: 24px;
  }

  /* fine footer style */

}







/* stili scren SM */
